// vim: ts=4:sw=4:expandtab
layout {
    default_tab_template {
        // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="zsh" {
        command "zsh"
        start_suspended true
    }

    tab name="cid-S" {
        zsh {
            args "-i" "-c" "while true; do /home/mwinters/.local/bin/tssh cid; sleep 2; reset; done"
        }
    }
    tab name="cid-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh cid"
        }
    }
    tab name="hetlas-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh hetlas"
        }
    }
    tab name="hetlas-S" {
        zsh {
            args "-i" "-c" "while true; do /home/mwinters/.local/bin/tssh hetlas; sleep 2; reset; done"
        }
    }
    tab name="wf1-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh wf1"
        }
    }
    tab name="mwinters-mail-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh mwinters-mail"
        }
    }
    tab name="he-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh he"
        }
    }
    tab name="luzita-M" {
        zsh {
            args "-i" "-c" "/usr/bin/mosh luzita"
        }
    }
}
session_name "remotes"
attach_to_session true
pane_frames false
